@use '../base/variables' as v;

.fondo{
    background-image: url('../img/fondo1.jpg');
    width: 100%;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .cortina{
        width: 100%;
        min-height: 95vh;
        background-color: rgba($color: v.$gris, $alpha: 0.7);
        padding-top: 2rem;
    }
}

.buscador{
    width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .barra{
        width: 50%;
        padding: 1rem;
    }
}

.container-characters{
    width: 120rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;

    .card{
        background-color: v.$blanco;
        padding: 1rem;
        border: solid 2px v.$negro;
        width: 100%;
        
        .img-contenedor{
            width: 100%;
            height: 25rem;
            overflow: hidden;
            border: solid 2px v.$negro;

            img{
                width: 100%;
                height: 100%;
                transition: .5s;
    
                &:hover{
                    transform: scale(1.2);
                }
            }
        }

        
        h3{
            text-align: center;
            font-family: 'Passion One', cursive;
            color: v.$negro;
            letter-spacing: 2px;
            margin: 0;
            font-weight: 400;
        }
    }
}
.botones{
    width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;

    a{
        margin: 0;
        text-decoration: none;
    }
}
.ocultar{
    visibility: hidden;
}

.contenedor-regresar{
    text-align: center;
}