@use '../base/variables' as v;

.fondo{
    background-image: url('../img/fondo1.jpg');
    width: 100%;
    min-height: 185rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .cortina{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: v.$gris, $alpha: 0.7);
    }
}

.buscador{
    width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;

    .barra{
        width: 50%;
    }
}

.container-characters{
    width: 120rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;

    .card{
        background-color: v.$blanco;
        padding: 1rem;
        border: solid 2px v.$negro;

        img{
            width: 250px;
            height: 250px;
            border: solid 2px v.$negro;
        }
        h3{
            text-align: center;
            font-family: 'Passion One', cursive;
            color: v.$negro;
            letter-spacing: 2px;
            margin: 0;
            font-weight: 400;
        }
        
    }
}
.botones{
    width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;

    a{
        margin: 0;
        text-decoration: none;
    }
}
.ocultar{
    visibility: hidden;
}