@use 'base/variables' as v;

.navbar{
    background-color: v.$rojo;
    a{
        text-decoration: none;

        h1{
            font-family: 'Passion One', cursive;
            text-transform: uppercase;
            text-align: center;
            color: v.$blanco;
            margin: 0;
            letter-spacing: 1px;
            font-size:5rem;
        }
    }
    
}