@use 'base/variables' as v;

.navbar{
    background-color: v.$rojo;
    text-align: center;

    a{
        text-decoration: none;
        font-family: 'Passion One', cursive;
        text-transform: uppercase;
        color: v.$blanco;
        margin: 0;
        letter-spacing: 1px;
        font-size:5rem;
    }
    
}